.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar ul {
    display: flex;
    list-style: none;

}

.navbar li {
    margin: 10px;
}

.navbar a {
    color:white !important;
    text-decoration: none;
    opacity:0.5;
}

a:hover {
    opacity:1;
}

